# Exploring olympic summar games dataset

In [18]:
import pandas as pd

df_summer = pd.read_csv("../../data/Athletes_summer_games.csv" , index_col=0)
df_summer.head()

,Name,Sex,Age,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,A Dijiang,M,24.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,A Lamusi,M,23.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,Gunnar Nielsen Aaby,M,24.0,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,Edgar Lindenau Aabye,M,34.0,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
26,"Cornelia ""Cor"" Aalten (-Strannood)",F,18.0,Netherlands,NED,1932 Summer,1932,Summer,Los Angeles,Athletics,Athletics Women's 100 metres,NaN

In [19]:
df_summer.shape

(237673, 12)

In [20]:
df_swe =df_summer.query("NOC=='SWE'")

df_swe_medal = df_swe[df_swe["Medal"].notna()]
df_swe_medal.head()

,Name,Sex,Age,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
727,Nils Georg berg,M,19.0,Sweden,SWE,1912 Summer,1912,Summer,Stockholm,Athletics,Athletics Men's Long Jump,Bronze
728,Nils Georg berg,M,19.0,Sweden,SWE,1912 Summer,1912,Summer,Stockholm,Athletics,Athletics Men's Triple Jump,Silver
903,Ara Abrahamian,M,29.0,Sweden,SWE,2004 Summer,2004,Summer,Athina,Wrestling,"Wrestling Men's Light-Heavyweight, Greco-Roman",Silver
929,Erik Adolf Efraim Abrahamsson,M,22.0,Sweden,SWE,1920 Summer,1920,Summer,Antwerpen,Athletics,Athletics Men's Long Jump,Bronze
1237,Fausto Alesio Acke (Padovini-),M,22.0,Sweden,SWE,1920 Summer,1920,Summer,Antwerpen,Gymnastics,"Gymnastics Men's Team All-Around, Swedish System",Gold

In [22]:
df_summer[df_summer["Medal"].notna()].groupby("NOC")["Medal"].count().sort_values(ascending=False)

NOC
USA    5300
GBR    2126
URS    2063
GER    1860
FRA    1768
       ...
MON       1
TKM       1
TOG       1
TGA       1
SUD       1
Name: Medal, Length: 151, dtype: int64

In [23]:
len(df_swe_medal)

1142

In [26]:
df_swe_medal.groupby("Name")["Medal"].count().sort_values(ascending=False)

Name
Alfred Gomer Albert "Alf" Swahn    9
Gustaf Vilhelm Carlberg            8
Gert Fridolf Fredriksson           8
Agneta Monica Andersson            7
Eric Otto Valdemar Lemming         7
                                  ..
ke Carl Magnus Bergqvist           1
ASLLANI Kosovare                   1
ke Simon Hger                      1
sa Nilla Maria Fischer             1
ANGELDAL Filippa                   1
Name: Medal, Length: 830, dtype: int64