# 0. Hire IT employee data

##   a) Create a list of dictionaries to represent this data, where each dictionary represents each row.

In [2]:
employee0 = dict (
    employeeID = 0,
    name = "Alice",
    department = "HR",
    salary = 31000

)

employee1 = dict (
    employeeID = 1,
    name = "Bob",
    department = "IT",
    salary = 41000

)

employee2 = dict (
    employeeID = 2,
    name = "Charlie",
    department = "HR",
    salary = 28000

)

print(employee0)
print(employee1)
print(employee2)

{'employeeID': 0, 'name': 'Alice', 'department': 'HR', 'salary': 31000}
{'employeeID': 1, 'name': 'Bob', 'department': 'IT', 'salary': 41000}
{'employeeID': 2, 'name': 'Charlie', 'department': 'HR', 'salary': 28000}

##   b) Extract the second record in this dataset.

In [3]:
second_recod = employee1
print(employee1)

{'employeeID': 1, 'name': 'Bob', 'department': 'IT', 'salary': 41000}

##   c) Extract all rows from this dataset and print it in this format

In [8]:
print(f"{employee0['name']} works in department {employee0['department']} and earn {employee0['salary']}")
print(f"{employee1['name']} works in department {employee1['department']} and earn {employee1['salary']}")
print(f"{employee2['name']} works in department {employee2['department']} and earn {employee2['salary']}")

Alice works in department HR and earn 31000
Bob works in department IT and earn 41000
Charlie works in department HR and earn 28000

##   d) Find out the average salary in Hire IT.

In [ ]:
avreage_salary = sum({employee0['salary']} , {employee1['salary']} , {employee2['salary']}) /

##   e) Find out the average salary among the HR department in Hire IT.

##   f) Extract all records where the department is HR.

In [14]:
employee = [ employee0 , employee1 , employee2]

hr_employee = [emp for emp in employee if emp["department"] == "HR"]

for emp in hr_employee:
    print(emp)

{'employeeID': 0, 'name': 'Alice', 'department': 'HR', 'salary': 31000}
{'employeeID': 2, 'name': 'Charlie', 'department': 'HR', 'salary': 28000}

##   g) Find all unique departments in this list.

In [15]:
employee = [ employee0 , employee1 , employee2]

unique_department = {emp["department"] for emp in employee}
print(unique_department)

{'HR', 'IT'}

##   h) Add this age column into our list of dictionaries. None should be used for empty fields.

In [18]:
employee0["age"] = 26
employee1["age"] = 37
employee2["age"] = None


print(employee0)
print(employee1)
print(employee2)

{'employeeID': 0, 'name': 'Alice', 'department': 'HR', 'salary': 31000, 'age': 26}
{'employeeID': 1, 'name': 'Bob', 'department': 'IT', 'salary': 41000, 'age': 37}
{'employeeID': 2, 'name': 'Charlie', 'department': 'HR', 'salary': 28000, 'age': None}

##   i) A new employee named David starts at the IT department, with salary 35000 and has the age 30. Create a function to add this record to the dataset.

In [19]:
employee3 = dict(
    employee3 = " David",
    department = "IT",
    salary = 35000,
    age = 30
)

print(employee3)

{'employee3': ' David', 'department': 'IT', 'salary': 35000, 'age': 30}