# 0. Hire IT employee data

##   a) Create a list of dictionaries to represent this data, where each dictionary represents each row.

In [2]:
employee0 = dict (
    employeeID = 0,
    name = "Alice",
    department = "HR",
    salary = 31000

)

employee1 = dict (
    employeeID = 1,
    name = "Bob",
    department = "IT",
    salary = 41000

)

employee2 = dict (
    employeeID = 2,
    name = "Charlie",
    department = "HR",
    salary = 28000

)

print(employee0)
print(employee1)
print(employee2)

{'employeeID': 0, 'name': 'Alice', 'department': 'HR', 'salary': 31000}
{'employeeID': 1, 'name': 'Bob', 'department': 'IT', 'salary': 41000}
{'employeeID': 2, 'name': 'Charlie', 'department': 'HR', 'salary': 28000}

##   b) Extract the second record in this dataset.

In [3]:
second_recod = employee1
print(employee1)

{'employeeID': 1, 'name': 'Bob', 'department': 'IT', 'salary': 41000}

##   c) Extract all rows from this dataset and print it in this format

In [8]:
print(f"{employee0['name']} works in department {employee0['department']} and earn {employee0['salary']}")
print(f"{employee1['name']} works in department {employee1['department']} and earn {employee1['salary']}")
print(f"{employee2['name']} works in department {employee2['department']} and earn {employee2['salary']}")

Alice works in department HR and earn 31000
Bob works in department IT and earn 41000
Charlie works in department HR and earn 28000

##   d) Find out the average salary in Hire IT.

In [ ]:
avreage_salary = sum({employee0['salary']} , {employee1['salary']} , {employee2['salary']}) /

##   e) Find out the average salary among the HR department in Hire IT.

##   f) Extract all records where the department is HR.

In [14]:
employee = [ employee0 , employee1 , employee2]

hr_employee = [emp for emp in employee if emp["department"] == "HR"]

for emp in hr_employee:
    print(emp)

{'employeeID': 0, 'name': 'Alice', 'department': 'HR', 'salary': 31000}
{'employeeID': 2, 'name': 'Charlie', 'department': 'HR', 'salary': 28000}

##   g) Find all unique departments in this list.

In [15]:
employee = [ employee0 , employee1 , employee2]

unique_department = {emp["department"] for emp in employee}
print(unique_department)

{'HR', 'IT'}

##   h) Add this age column into our list of dictionaries. None should be used for empty fields.

In [18]:
employee0["age"] = 26
employee1["age"] = 37
employee2["age"] = None


print(employee0)
print(employee1)
print(employee2)

{'employeeID': 0, 'name': 'Alice', 'department': 'HR', 'salary': 31000, 'age': 26}
{'employeeID': 1, 'name': 'Bob', 'department': 'IT', 'salary': 41000, 'age': 37}
{'employeeID': 2, 'name': 'Charlie', 'department': 'HR', 'salary': 28000, 'age': None}

##   i) A new employee named David starts at the IT department, with salary 35000 and has the age 30. Create a function to add this record to the dataset.

In [19]:
employee3 = dict(
    employee3 = " David",
    department = "IT",
    salary = 35000,
    age = 30
)

print(employee3)

{'employee3': ' David', 'department': 'IT', 'salary': 35000, 'age': 30}

# 1. Gotta catch em all

##  a) Define a Pokemon class with attributes for name, type, and level. Instantiate a pokemon named Pikachu and give it an electric type with level 10.

In [20]:
class Pokemon:
    def __init__(self , name , type , level) -> None:
        self.name = name
        self.type = type
        self.level = level

    def give_name (self):
        print(f"The Pokemon name is {self.name} . ")

    def get_type(self):
        print(f"The pokemon type is {self.type}")

    def get_level(self):
        print(f"The Pokemon is at {self.level} .")


pokemon = Pokemon("Pikachu" , "electric" ,  10)


pokemon.give_name()
pokemon.get_type()
pokemon.get_level()

The Pokemon name is Pikachu .
The pokemon type is electric
The Pokemon is at 10 .

## b) Implement __str__() method to display the Pokemon's details. Also implement a __repr__() method.

In [21]:
class Pokemon:
    def __init__(self , name , type , level) -> None:
        self.name = name
        self.type = type
        self.level = level


    def __str__(self) -> str:
        return f" {self.name} is a type {self.type} at level {self.level}"
    
    def __repr__(self) -> str:
        return f" Pokemon(name = {self.name} , pokemon_type = {self.type} , Pokemon_level = {self.level})"


pokemon = Pokemon("Pikachu", "electric", 10)


print(pokemon)

repr(pokemon)

 Pikachu is a type electric at level 10

' Pokemon(name = Pikachu , pokemon_type = electric , Pokemon_level = 10)'

##   c) Create a subclass WaterPokemon that inherits from Pokemon and add a unique method splash. This method prints out the pokemons name and that it splashes some water.

In [32]:
class Pokemon:
    def __init__(self , name , type , level) -> None:
        self.name = name
        self.type = type
        self.level = level


    def __str__(self) -> str:
        return f" {self.name} is a type {self.type} at level {self.level}"
    
    def __repr__(self) -> str:
        return f" Pokemon(name = {self.name} , pokemon_type = {self.type} , Pokemon_level = {self.level})"


class WaterPokemon(Pokemon):
    def __init__(self, name, level) -> None:
        super().__init__(name, type= "WaterPokemon", level= level)

    def splash(self):
        print(f"The {self.name} splash some water.")



water_poke = WaterPokemon(name = "WaterPokemon" , level = 5)


water_poke.splash()

print(water_poke)

The WaterPokemon splash some water.
 WaterPokemon is a type WaterPokemon at level 5

# d) Now instantiate two Squirtles and a Polywag. Squirtles and Polywags are of type WaterPokemon.

In [37]:
class Pokemon:
    def __init__(self , name , type , level) -> None:
        self.name = name
        self.type = type
        self.level = level


    def __str__(self) -> str:
        return f" {self.name} is a type of {self.type} at level {self.level}"
    
    def __repr__(self) -> str:
        return f" Pokemon(name = {self.name} , pokemon_type = {self.type} , Pokemon_level = {self.level})"


class WaterPokemon(Pokemon):
    def __init__(self, name, level) -> None:
        super().__init__(name, type= "WaterPokemon", level= level)


squirtles_type = WaterPokemon (
    name = "squirtles",
    level = 5
)

polywag_type = WaterPokemon(
    name = "Polywag",
    level = 8
)


print(squirtles_type)
print(polywag_type)

 squirtles is a type of WaterPokemon at level 5
 Polywag is a type of WaterPokemon at level 8

#   e) Loop through a tuple of all your instantiated pokemons and print them out.

In [40]:
pokemon_tuple = (squirtles_type , polywag_type)

print(pokemon_tuple)

( Pokemon(name = squirtles , pokemon_type = WaterPokemon , Pokemon_level = 5),  Pokemon(name = Polywag , pokemon_type = WaterPokemon , Pokemon_level = 8))