# Python Repetiton

In [2]:
school = "Handelsakedamin"
school # __repr__

'Handelsakedamin'

In [3]:
type(school)

str

In [4]:
len(school)

15

In [14]:
# coms , gives a tuple 
school[0], school[:7]

('H', 'Handels')

In [11]:
school[:7]

'Handels'

In [16]:
# Reverse the list or word
school[::-1]

'nimadekaslednaH'

plus operator is polymorphic and it  operator overloaded in different class

In [20]:
# concatenation - __add__ () is implemented in str class
"NBI - " + school

'NBI - Handelsakedamin'

In [21]:
cool_list = ["fruit" , 89  , False , [1,2,3]]

cool_list

['fruit', 89, False, [1, 2, 3]]

In [22]:
cool_list + [True , True , False]

['fruit', 89, False, [1, 2, 3], True, True, False]

In [23]:
cool_list + list([True , True , False])

['fruit', 89, False, [1, 2, 3], True, True, False]

In [26]:
cool_list.append(list((True , True , False)))

In [27]:
cool_list

['fruit', 89, False, [1, 2, 3], [True, True, False]]

In [28]:
# x = int(10)
#for (int i =0: , i<10: i++){
#     x[i] = i:

# }

x = []
for i in range(10):
    x.append(i)

x

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [29]:
# more pyhtonic code
# list comprehension

x = [i for i in range(10)]
x

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [30]:
range(10)

range(0, 10)

In [31]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [35]:
[i for i in range(10) if i %2]

[1, 3, 5, 7, 9]

In [37]:
x[5] = "jahsdkjahs"

In [38]:
x

[0, 1, 2, 3, 4, 'jahsdkjahs', 6, 7, 8, 9]

In [39]:
my_tuple = (2,5,6)
my_tuple

(2, 5, 6)

In [42]:
# tuple are immutable 
my_tuple[2] = "alshdkajs"
my_tuple

TypeError: 'tuple' object does not support item assignment

# Set

In [44]:
set([6,6,2,4,1,3])

{1, 2, 3, 4, 6}

# dict
 key-values pairs

In [59]:
rabbit = {"name" : "Bela " , "age" : 2 , "love_hay": True}
rabbit

{'name': 'Bela ', 'age': 2, 'love_hay': True}

In [60]:
rabbit["name"] , rabbit["age"]

('Bela ', 2)

In [61]:
for key in rabbit:
    print(key)

name
age
love_hay

In [62]:
for key in rabbit:
    print(rabbit[key])

Bela
2
True

In [66]:
for key , value in rabbit.items():
    print(f"{key} : {value}")

name : Bela
age : 2
love_hay : True

# funcation

In [69]:
def square (number):
    return number**2

square(5)

25

In [71]:
tuple(square(i) for i in range(10))

(0, 1, 4, 9, 16, 25, 36, 49, 64, 81)

In [73]:
# variable amount of parameters
def my_average (*numbers):
    sum_ = 0
    print(type(numbers))
    print(numbers)

my_average(1,2,3)

<class 'tuple'>
(1, 2, 3)

In [75]:
# *args - "star args"

def my_average(*numbers):
    sum_ = 0
    for number in numbers:
        sum_ += number
    return sum_/len(numbers)

my_average(1,2,3)


# **kwargs

2.0

In [76]:
x[5] = 5
x

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [77]:
# my_average(x[0] , x[1] , x[2] ,.....)
my_average(x)

TypeError: unsupported operand type(s) for +=: 'int' and 'list'

In [78]:
my_average(*x) # my_average(x[0] , x[1] , x[2] ,.....)

4.5

# OOP

In [80]:
class Person:

    # dunder init 
    def __init__(self , name , age) -> None:
        self.name = name
        self.age = age 


# Instantiates a instance from the class Person with arguments
p1 = Person("Ada", 25)
p1

# dunder repr : __repr__ ()

<__main__.Person object at 0x10f686890>

In [81]:
p1.name , p1.age

('Ada', 25)